*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background:#222;
}
.card{
    width:90%;
    background: linear-gradient(135deg, #00feba,#5b548a);
color: #fff;
max-width:470px;
margin: 100px auto 0;
border-radius: 20px;
padding: 35px 35px;
text-align: center;
}
.search{
width:100%;
display: flex;
align-items: center;
justify-content: center;
}
.search input{
    border:0;
    outline:0;
    background:#ebfffc;
    color:#555;
    padding: 10px 25px;
    height:60px;
    margin-right: 16px;
    font-size:18px;
    flex:1;
    border-radius: 30px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius:50%;
    width:60px;
    height:60px;
    cursor: pointer;

}
.search button img{
    width:16px;
}
.weather-icon{
    width:170px;
    margin-top:30px;
}
.weather h1{
    font-size: 40px;
    font-weight:500;
    margin-left: 10%;
    
}
.weather h2{
    font-size: 40px;
    font-weight:500;
    margin-top: 15%;
   
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
display: flex;
align-items: center;
text-align: left;
}
.col img{
width: 40px;
margin-right: 10px;

}
.weather{
    display:none;
    height: 400px;
    
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display:none;
}
nav {
    height:4rem;
    background-color: #8e9291;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #1225b7;
    font-size: larger;
    font-style:italic;
    align-items: center;
} 
.home{
    height: 40px;
    width: 60px;
    background-color: #ecf248;
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
    align-content: center;
   
    font-size: large;
    font-style: italic;
    position:absolute;
    left: 20px;
    top:10%;

}
.back{
     height: 40px;
    width: 60px;
    background-color: #ecf248;
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
    align-content: center;
   
    font-size: large;
    font-style: italic;
    position:absolute;
    left: 6%;
    top:10%;
}
.home:active{
  
transform: scale(0.8);

}
.back:active{
  
transform: scale(0.8);

}
a{
    text-decoration: none;
}
h1{
    position:absolute;
}
.forecast{
    display:flex;
    gap: 15px;
    margin-top: 20px;
}
.forecast-card{
    background:#ffffff22;
    padding:10px;
    border-radius:10px;
    text-align: center;
    margin-top: 3px;
}
.search button:active{
    transform:scale(0.8);

}